---
import { actions } from 'astro:actions';
import { isInputError } from 'astro:actions';

const result = Astro.getActionResult(actions.login);

if (result && !result.error) {
  return Astro.redirect('/');
}

const inputErrors = result?.error && isInputError(result.error) ? result.error.fields : {};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Login - SenaChat</title>
	</head>
	<body>
		<section class="login">
            <h1>Login</h1>
			<form class="login-form" method="POST" action={actions.login}>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" required aria-describedby="email-error" />
                {inputErrors.email && <p id="email-error" style="color: red; font-size: 0.8em;">{inputErrors.email.join(', ')}</p>}

				<label for="password">Password</label>
				<input type="password" id="password" name="password" required aria-describedby="password-error" />
                {inputErrors.password && <p id="password-error" style="color: red; font-size: 0.8em;">{inputErrors.password.join(', ')}</p>}

				<button type="submit">Login</button>
                
                {result?.error && !isInputError(result.error) && (
                    <p style="color: red; margin-top: 10px;">{result.error.message}</p>
                )}
			</form>
            <p class="login-register">Don't have an account? <a href="/register">Register</a></p>
		</section>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login-form label {
        margin-top: 10px;
    }
    .login-form button {
        margin-top: 10px;
    }

    .login-register {
        margin-top: 10px;
    }
</style>
